

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff8f5;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #d94f70;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

header p {
    margin-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 85%;
    max-width: 1100px;
    margin: auto;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    color: #d94f70;
    font-size: 30px;
    margin-bottom: 20px;
}




section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

article {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}

article h3 {
    color: #b63859;
    margin-bottom: 8px;
}




ul {
    list-style-position: inside;
}

li {
    margin: 8px;
}




table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #d94f70;
    color: white;
}




#contact a {
    color: #d94f70;
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

footer p {
    margin: 10px;
}